{% extends 'base.html.twig' %}

{% block title %}List of Posts{% endblock %}

{% block body %}
    <div class="container">
        <h1>List of Posts</h1>
        <div class="col-md-12 mb-4" data-aos="fade-up">
            {% for post in pagination %}
                <div class="mb-4">
                    <div class="card-body">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p>Created on {{ post.date|date('d/m/Y') }}</p>
                        <p class="card-text">{{ post.article }}</p>
                        <a href="{{ path('app_show', { 'id': post.id }) }}" class="btn btn-primary">Read more</a>
                    </div>
                    <hr class="bg-black">
                </div>
            {% endfor %}
        </div>
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
